:root {
  --bg-color: #d4ebf2;
}

.w-img {
  width: 100%;
  height: auto;
}

.h-img {
  width: auto;
  height: 100%;
}

.h-0 {
  height: 0;
}

.header {
  height: auto;
  background-color: var(--bg-color);
  /* border-bottom: 1px solid black; */
}

.main {
  height: 1000px;
  background-color: var(--bg-color);
}

.row-btn button {
  width: 100%;
}