:root {
  --bg-color: #d4ebf2;
}


.w-img {
  width: 100%;
  height: auto;
}

.h-img {
  width: auto;
  height: 100%;
}

.h-0 {
  height: 0;
}

.sec-header {
  height: auto;
  background-color: var(--bg-color);
  /* border-bottom: 1px solid black; */
}

.sec-btn {
  height: 100px;
  background-color: var(--bg-color);
}

.sec-btn button {
  width: 100%;
}

.sec-album {
  background-color: var(--bg-color);
}

.card-img {
  height: 200px;
}